@import 'mapbox-gl/dist/mapbox-gl.css';


html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html{
  background: #eeeeee;
}

html.dark {
  /* background: #BA93DE; */
  background: #eeeeee;
}


/* 滚动条样式 */
::-webkit-scrollbar{
  width:6px;
  height:6px;
  background-color: transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-track-piece{
  width:24px;
  background-color:transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:vertical{
  width:24px;
  height:24px;
  background: rgba(214, 212, 212,.3);
  border-radius: 8px;
  border: 1px solid var(--scrollbar-color);
}
::-webkit-scrollbar-thumb:horizontal{
  width:24px;
  height:24px;
  background: rgba(214, 212, 212,.3);
  border-radius: 8px;
  border: 1px solid var(--scrollbar-color);
}
::-webkit-scrollbar-button{
  display:none;
}
::-webkit-scrollbar-corner{
  display:none;
}

/* mapbox display */
a.mapboxgl-ctrl-logo{
  display:none !important;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact{
  display:none !important;
}
.mapboxgl-ctrl-bottom-right{
  display:none !important;
}

@keyframes shake {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25%{
    transform: scale(1.1) rotate(-20deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75%{
    transform: scale(1.1) rotate(20deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
